<template>
    <div>
        <div class="col-lg-8 mx-auto p-3 py-md-5">
            <header class="pb-3 border-bottom">
                <router-link to="/" class="text-dark text-decoration-none">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 68 68" style="enable-background:new 0 0 68 68;width:25px;height:25px;" xml:space="preserve" class="me-1 mb-2">
                        <g>
                            <g><g><path class="st0" d="M64.5,1H18.2c0,0,0,0,0,0s0,0,0,0H7.1C5.7,1,4.6,2.1,4.6,3.5v8.4H2c-0.6,0-1,0.4-1,1v4.8c0,0.6,0.4,1,1,1     h2.6v5.8H2c-0.6,0-1,0.4-1,1v4.8c0,0.6,0.4,1,1,1h2.6v5.7H2c-0.6,0-1,0.4-1,1v4.8c0,0.6,0.4,1,1,1h2.6v5.8H2c-0.6,0-1,0.4-1,1     v4.8c0,0.6,0.4,1,1,1h2.6v8.4c0,1.4,1.1,2.5,2.5,2.5h57.4c1.4,0,2.5-1.1,2.5-2.5v-61C67,2.1,65.9,1,64.5,1z M3,13.9h5.1v2.8     c-0.5,0,1.1,0-5.1,0V13.9z M3,26.4h5.1v2.8c-0.5,0,1.1,0-5.1,0V26.4z M3,38.9h5.1v2.8c-0.5,0,1.1,0-5.1,0V38.9z M3,51.4h5.1v2.8     c-0.5,0,1.1,0-5.1,0V51.4z M6.6,64.5v-8.4h2.6c0.6,0,1-0.4,1-1v-4.8c0-0.6-0.4-1-1-1H6.6v-5.8h2.6c0.6,0,1-0.4,1-1v-4.8     c0-0.6-0.4-1-1-1H6.6v-5.7h2.6c0.6,0,1-0.4,1-1v-4.8c0-0.6-0.4-1-1-1H6.6v-5.8h2.6c0.6,0,1-0.4,1-1v-4.8c0-0.6-0.4-1-1-1H6.6V3.5     C6.6,3.2,6.8,3,7.1,3h10.1v62H7.1C6.8,65,6.6,64.8,6.6,64.5z M65,64.5c0,0.3-0.2,0.5-0.5,0.5H19.2V3h45.3C64.8,3,65,3.2,65,3.5     V64.5z"></path></g></g>
                            <g><g><path class="st0" d="M50.2,43l1-0.6c1.2-0.7,1.6-2.2,0.8-3.4l-2.5-4.2c-0.7-1.2-2.5-1.7-3.8-0.9l-3.1,1.9     c-0.2,0.1-0.5,0.1-0.7-0.1c-3.9-4.9-7-10.1-9.2-15.3c-0.1-0.2,0-0.5,0.2-0.6l3.1-1.9c0.6-0.4,1.1-1,1.2-1.7     c0.2-0.7,0.1-1.4-0.3-2.1l-2.5-4.2c-0.7-1.1-2.3-1.5-3.4-0.8l-1,0.6c-5.5,3.3-7.3,10.1-4.4,17.2c1.3,3.7,3.6,7.5,7.3,12.1     C37.5,44.1,44.3,46.5,50.2,43z M31.1,11.3l1-0.6c0.1,0,0.2-0.1,0.3-0.1c0.2,0,0.3,0.1,0.4,0.2l2.5,4.2c0.1,0.2,0.1,0.4,0.1,0.6     c0,0.2-0.2,0.4-0.3,0.5L32,17.9c-1.1,0.6-1.5,2-1,3.1c2.3,5.4,5.5,10.7,9.5,15.7c0.8,1,2.2,1.2,3.3,0.6l3.1-1.9     c0.3-0.2,0.8-0.1,1,0.3l2.5,4.2c0.1,0.2,0.1,0.5-0.2,0.7l-1,0.6c-5.1,3.1-10.9,0.8-14.7-3.7c-3.5-4.4-5.7-8-6.9-11.5     C25.1,19.8,26.4,14.1,31.1,11.3z"></path></g></g>
                            <g><g><path class="st0" d="M57.2,49.5l-29.8-0.1c0,0,0,0,0,0c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1l29.8,0.1c0,0,0,0,0,0c0.6,0,1-0.4,1-1     C58.2,50,57.7,49.5,57.2,49.5z"></path></g></g>
                            <g><g><path class="st0" d="M57.2,57.3l-29.8-0.1c0,0,0,0,0,0c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1l29.8,0.1c0,0,0,0,0,0c0.6,0,1-0.4,1-1     C58.2,57.7,57.7,57.3,57.2,57.3z"></path></g></g>
                            <g><g><path class="st0" d="M55.6,18.2c1.6-1.1,2.6-2.8,2.6-4.9c0-3.2-2.6-5.8-5.9-5.8c-3.2,0-5.9,2.6-5.9,5.8c0,2,1,3.8,2.6,4.8     c-3.7,0.2-6.7,3.3-6.7,7v2.5c0,0.6,0.4,1,1,1h17.9c0.6,0,1-0.4,1-1v-2.5C62.2,21.5,59.3,18.5,55.6,18.2z M52.3,9.5     c2.1,0,3.9,1.7,3.9,3.8c0,2.1-1.7,3.8-3.9,3.8c-2.1,0-3.9-1.7-3.9-3.8C48.5,11.3,50.2,9.5,52.3,9.5z M60.2,26.8H44.3v-1.5     c0-2.8,2.3-5,5-5h5.8c2.8,0,5,2.3,5,5V26.8z"></path></g></g>
                        </g>
                    </svg>
                    <span class="fs-4">Phones book</span>
                </router-link>
                <div class="float-end">
                    <router-link v-if="isAdmin" :to="'/cats/create/0'" class="ms-2 btn btn-outline-secondary"><i class="fa fa-plus"></i></router-link>
                    <button class="ms-3 btn btn-outline-secondary" @click="togglePsw"><i class="fa fa-unlock" aria-hidden="true"></i></button>
                </div>
            </header>
            <main v-if="showPsw">
                <input v-model="psw" type="password" class="form-control mt-2" style="max-width:120px;">
                <button class="btn btn-success mt-2" @click="checkPsw">ok</button>
            </main>
            <main v-else>
                <CatsApp class="mt-4"></CatsApp>
                <PhonesApp class="mt-4"></PhonesApp>
                <Error404 class="mt-4" v-if="route.name === '404'"></Error404>
                <div v-if="route.name === 'index'">
                    <div class="mt-4" v-if="listStatus === 'loading'"><span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span> Loading...</div>
                    <div>
                        <vue-element-loading :active="listStatus === 'loading'" spinner="bar-fade-scale" color="#2b5ec2" />
                        <div v-if="listStatus === null || listData === null || (listStatus === 'loading' && Object.keys(listData).length < 1)">
                            <br class="mt-5 mb-5">
                        </div>
                        <div v-else-if="listStatus === 'error'">Error getting list of projects</div>
                        <div v-else>
                            <vue-element-loading :active="listStatus === 'loading'" spinner="bar-fade-scale" color="#999999"/>
                            <div v-if="Object.keys(listDataSrc).length > 0">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <label class="form-label me-5">
                                            Group
                                            <select class="form-select" v-model="filter.cat" @change="updateData">
                                                <option value=""></option>
                                                <option :value="v.id" v-for="(v) in listDataSrc">{{ v.name }}</option>
                                            </select>
                                        </label>
                                        <label class="form-label me-5">User <input v-model="filter.user" type="text" class="form-control" @change="updateData" @keyup="updateData" @keydown="updateData" @input="updateData" @paste="updateData"></label>
                                        <br>
                                        <label class="form-check-label mt-2"><input v-model="filter.showAll" type="checkbox" class="form-check-input me-2" @change="updateData">Show all contacts</label>
                                    </div>
                                </div>
                                <div v-if="Object.keys(listDataSrc).length > 0">
                                    <div v-for="(v) in listData" class="mb-4">
                                        <h2>
                                            <router-link :to="'/cats/edit/'+v.id" class="text-dark text-decoration-none">{{ v.name }}</router-link>
                                            <router-link :to="'/cats/create/'+v.id" class="ms-2 btn btn-sm btn-outline-secondary px-2 py-1" style="line-height:1;"><i class="fa fa-plus"></i></router-link>
                                            <router-link :to="'/phones/create/'+v.id" class="ms-2 btn btn-sm btn-outline-secondary px-2 py-1" style="line-height:1;"><i class="fa fa-user-plus"></i></router-link>
                                        </h2>
                                        <div v-for="(v2) in v.phones" class="ms-3 mb-1 border-bottom card" style="width: 18rem;">
                                            <div class="card-header fs-6">
                                                {{ v2.surname }} {{ v2.name }} {{ v2.middlename }}
                                                <router-link :to="'/phones/edit/'+v2.id"><i class="fa fa-pencil float-end ms-2"></i></router-link>
                                            </div>
                                            <div class="card-body p-2 fs-6">{{ v2.position }}</div>
                                            <div class="card-body p-2">
                                                <div v-if="v2.phone"><a :href="'tel:'+v2.phone"><i class="fa fa-phone me-2"></i>{{ v2.phone }}</a></div>
                                                <div v-if="v2.email"><a :href="'mailto:'+v2.email"><i class="fa fa-envelope-o me-2"></i>{{ v2.email }}</a></div>
                                            </div>
                                        </div>

                                        <div v-for="(v2) in v.subs" class="ms-4 mb-3">
                                            <h3>
                                                <router-link :to="'/cats/edit/'+v2.id" class="text-dark text-decoration-none">{{ v2.name }}</router-link>
                                                <router-link :to="'/cats/create/'+v2.id" class="ms-2 btn btn-sm btn-outline-secondary px-2 py-1" style="line-height:1;"><i class="fa fa-plus"></i></router-link>
                                                <router-link :to="'/phones/create/'+v2.id" class="ms-2 btn btn-sm btn-outline-secondary px-2 py-1" style="line-height:1;"><i class="fa fa-user-plus"></i></router-link>
                                            </h3>
                                            <div v-for="(v3) in v2.phones" class="ms-3 mb-1 border-bottom card" style="width: 30rem;">
                                                <div class="card-header fs-6">
                                                    {{ v3.surname }} {{ v3.name }} {{ v3.middlename }}
                                                    <router-link :to="'/phones/edit/'+v3.id"><i class="fa fa-pencil float-end ms-2"></i></router-link>
                                                </div>
                                                <div class="card-body p-2 fs-6">{{ v3.position }}</div>
                                                <div class="card-body p-2">
                                                    <div v-if="v3.phone"><a :href="'tel:'+v3.phone"><i class="fa fa-phone me-2"></i>{{ v3.phone }}</a></div>
                                                    <div v-if="v3.email"><a :href="'mailto:'+v3.email"><i class="fa fa-envelope-o me-2"></i>{{ v3.email }}</a></div>
                                                </div>
                                            </div>

                                            <div v-for="(v3) in v2.subs" class="ms-4 mb-3">
                                                <h4>
                                                    <router-link :to="'/cats/edit/'+v3.id" class="text-dark text-decoration-none">{{ v3.name }}</router-link>
                                                    <router-link :to="'/cats/create/'+v3.id" class="ms-2 btn btn-sm btn-outline-secondary px-2 py-1" style="line-height:1;"><i class="fa fa-plus"></i></router-link>
                                                    <router-link :to="'/phones/create/'+v3.id" class="ms-2 btn btn-sm btn-outline-secondary px-2 py-1" style="line-height:1;"><i class="fa fa-user-plus"></i></router-link>
                                                </h4>
                                                <div v-for="(v4) in v3.phones" class="ms-3 mb-1 border-bottom card" style="width: 30rem;">
                                                    <div class="card-header fs-6">
                                                        {{ v4.surname }} {{ v4.name }} {{ v4.middlename }}
                                                        <router-link :to="'/phones/edit/'+v4.id"><i class="fa fa-pencil float-end ms-2"></i></router-link>
                                                    </div>
                                                    <div class="card-body p-2 fs-6">{{ v4.position }}</div>
                                                    <div class="card-body p-2">
                                                        <div v-if="v4.phone"><a :href="'tel:'+v4.phone"><i class="fa fa-phone me-2"></i>{{ v4.phone }}</a></div>
                                                        <div v-if="v4.email"><a :href="'mailto:'+v4.email"><i class="fa fa-envelope-o me-2"></i>{{ v4.email }}</a></div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div v-else>
                                    Need filters
                                </div>
                            </div>
                            <div v-else>
                                Empty list... :(
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</template>

<script>
import CatsApp from '../../cats/components/CatsApp.vue'
import PhonesApp from '../../phones/components/PhonesApp.vue'

import Error404 from "./Error404";
import {mapState} from "vuex";
import VueElementLoading from "vue-element-loading";
import loglevel from "loglevel";

let name = 'PhonesBookApp'
let log = loglevel.getLogger(name)
var md5 = require('md5');

export default {
    name: name,
    components: {
        VueElementLoading,
        Error404,
        CatsApp,
        PhonesApp,
    },
    computed: {
        route () {
            return this.$route
        },
        ...mapState({
            listStatus: state => state.CatsGetList.result,
            listDataSrc: state => state.CatsGetList.data,
        }),
    },
    data: function () {
        return {
            isAdmin: false,
            showPsw: false,
            listData: [],
            filter: {
                showAll: false,
                cat: '',
                user: '',
            },
            psw: '',
            psws: '',
        }
    },
    methods: {
        togglePsw () {
            this.isAdmin = false;
            this.psw = '';
            this.psws = '';
            this.showPsw = !this.showPsw;
        },
        checkPsw () {
            let self = this;
            // Request
            rmClientApp.$axios
                .post('api/psch', {p: md5(this.psw)})
                .then(function (res) {
                    if (res?.data?.result === 'ok') {
                        self.isAdmin = true;
                        self.psws = md5(this.psw);
                        self.showPsw = false;
                    }
                    self.psw = '';
                })
                .catch((error) => {
                    self.psw = '';
                })
        },
        updateDataFilterUsers(l, s) {
            let res = [];
            let keys = Object.keys(l);
            if (!keys || keys.length <= 0) {
                return res;
            }
            for (var i = 0; i < keys.length; i++) {
                let v = l[keys[i]];
                if (
                    this.filter.showAll ||
                    (
                        s !== '' &&
                        (
                            v['name'].toLowerCase().indexOf(s) >= 0 ||
                            v['surname'].toLowerCase().indexOf(s) >= 0 ||
                            v['phone'].toLowerCase().indexOf(s) >= 0 ||
                            v['email'].toLowerCase().indexOf(s) >= 0 ||
                            v['position'].toLowerCase().indexOf(s) >= 0
                        )
                    )
                ) {
                    res.push(v);
                }
            }
            return res;
        },
        updateDataSubs(l, s) {
            let res = [];
            let keys = Object.keys(l);
            if (!keys || keys.length <= 0) {
                return res;
            }
            for (var i = 0; i < keys.length; i++) {
                let v = l[keys[i]];
                if (v.pid === 0 && this.filter.cat && this.filter.cat !== v.id) {
                    continue;
                }
                let subs = (v.subs && Object.keys(v.subs).length>0
                        ? this.updateDataSubs(v.subs, s)
                        : []
                );
                let phones = (v.phones && Object.keys(v.phones).length>0
                        ? this.updateDataFilterUsers(v.phones, s)
                        : []
                );
                if (subs.length > 0 || phones.length > 0 || this.filter.showAll) {
                    res.push({
                        id: v.id,
                        name: v.name,
                        subs: subs,
                        phones: phones,
                    });
                }
            }
            return res;
        },
        updateData() {
            const data = this.listDataSrc;
            if (data) {
                this.listData = this.updateDataSubs(data, (this.filter.user || '').toLowerCase());
            }
        }
    },
    watch: {
        listDataSrc () {
            this.updateData();
        },
    },
    created () {
        this.$store.dispatch('CatsGetList/created')
        log.debug('['+name+'.created]')
    },
}
</script>
