<template>
    <div>
        <div>
            <h1>Page not found (404)</h1>
            <div>
                <router-link :to="'/'">Go to main page</router-link>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: 'Error404',
    computed: {
    },
}
</script>

<style>
</style>
