<template>
    <div>
        <div v-for="message in messages">
            <transition
                :name="transitionName"
                :enter-active-class="transitionIn"
                :leave-active-class="transitionOut"
            >
                <div :class="buildClass(message)"
                     role="alert"
                     aria-live="polite"
                     aria-atomic="true"
                >
                    <button v-if="message.disposable"
                            type="button"
                            class="close"
                            data-dismiss="alert"
                            aria-label="alertClose"
                            @click.stop.prevent="dispose(message)"
                    >
                        <span aria-hidden="true">&times</span>
                    </button>
                    <span v-html="message.text"></span>
                </div>
            </transition>
        </div>
    </div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'
import loglevel from 'loglevel'

let log = loglevel.getLogger('app')

export default {
    props: {
        transitionName: {
            type: String,
            default: 'custom-classes-transition'
        },
        transitionIn: {
            type: String,
            default: 'animated fadeInDown'
        },
        transitionOut: {
            type: String,
            default: 'animated fadeOutUp'
        }
    },

    methods: {
        ...mapActions({
            disposeFlash: 'AppFlash/remove',
        }),
        buildClass: function (message) {
            let classes = [
                'alert',
                'alert-' + message.type,
            ]

            return classes
        },
        dispose: function (message) {
            log.debug('[dispose] message:', message)
            this.disposeFlash(message.id)
        },

    },

    computed: {
        ...mapGetters({
            messages: 'AppFlash/visibleMessages',
        }),

    },

}
</script>

<style></style>
