<template>
    <div class="">
        <div class="row">
            <div class="text-center">...</div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import loglevel from 'loglevel'

let name = 'Sorry'
let log = loglevel.getLogger('auth')

export default {
    name: name,
    data () {
        return {
            app: window.rmClientApp,
            isRedirecting: false,
            isLoading: true,
            redirectUrl: '/',
            redirectInterval: null,
        }
    },
    computed: {
        requestedPath () {
            return this.$route.path
        },

    },
    watch: {},
    methods: {
        redirect () {
            this.isRedirecting = true
            window.setTimeout(() => {
                window.location.href = this.redirectUrl
            }, 3000)

        },
    },

    created () {
        log.debug(name + '[created] isLoadedPromise', this.isLoadedPromise)

        // после того как получили ответ от апи юзера рендерим форму
        this.isLoadedPromise.finally(() => {
            this.isLoading = false
        })
    },
    mounted () {
        log.debug(name + '[mounted]', this)
    }

}
</script>
