<template>
    <div style="max-width:550px;">
        <div v-if="isLoading">
            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span> Loading...
        </div>
        <div v-else>

            <input type="hidden" name="pid" v-model="form.pid">

            <div class="mb-3">
                <label class="form-label">
                    Name
                    <input class="form-control" type="text" v-model="form.name" :readonly="readonly===true">
                </label>
                <div class="form-text text-danger" v-if="errors && errors.name">
                    <div v-for="(v) in errors.name"><small>{{ v }}</small><br></div>
                </div>
            </div>

            <hr>

            <button v-if="action==='edit'" class="btn btn-danger">Delete</button>

            <button v-if="action==='create'" class="btn btn-primary float-end">Create</button>
            <button v-else-if="action==='edit'" class="btn btn-primary float-end">Save</button>
            <button v-else-if="action==='delete'" class="btn btn-danger float-end">Confirm, delete</button>

        </div>
    </div>
</template>

<script>
import loglevel from 'loglevel'

let name = 'CatForm'
let log = loglevel.getLogger(name)

export default {
    name: name,
    props: {
        action: {
            type: String,
            required: true
        },
        pid: {
            type: String,
            required: false
        },
        catId: {
            type: String,
            required: false
        },
        errors: {
            required: false
        },
        readonly: Boolean
    },
    data: function () {
        return {
            isLoading: true,
            form: {
                pid: '',
                name: '',
            },
            message: '',
            isError: false,
        }
    },
    computed: {
    },
    methods: {
        fetchData () {
            return this.form;
        },
        // Получение данных проекта
        getData () {
            let self = this;

            let catId = self.catId;
            if (!catId) {
                self.isLoading = false;
                return false;
            }

            self.isLoading = true;

            rmClientApp.$axios
                .get('api/cats/' + catId)
                .then(function (res) {
                    if (res?.data?.result && res?.data?.result === 'ok') {
                        let data = res?.data?.data;
                        self.isError = false;

                        self.form.pid = data.pid;
                        self.form.name = data.name;

                        self.message = '';
                    } else {
                        self.setError(res?.data?.error || null)
                    }
                    self.isLoading = false;
                })
                .catch((error) => {
                    self.setError(error)
                    self.isLoading = false;
                })
        },
        setError (error) {
            this.isError = true;
            this.message = error || 'System error';

        },
    },
    watch: {
        catId () {
            this.getData();
        },
    },
    created () {
        this.getData();
    },
    mounted () {
        if (this.pid) {
            this.form.pid = this.pid;
        }
    }
}
</script>
