<template>
    <div>
        <CreateCat v-if="route.name === 'CreateCat'"></CreateCat>
        <EditCat v-else-if="route.name === 'EditCat'"></EditCat>
        <DeleteCat v-else-if="route.name === 'DeleteCat'"></DeleteCat>
    </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
    name: "CatsApp",
    computed: {
        route () {
            return rmClientApp.$route
        },
        ...mapGetters({
            isAuthenticated: 'AppUser/isAuthenticated',
        }),
    },
    mounted() {
    }
}
</script>
