<template>
    <div>
        <h2>Create new cat</h2>

        <form @submit.prevent="submit()" v-if="ready">
            <CatForm :pid="catId" ref="catForm" :errors="errors" action="create"></CatForm>
        </form>

        <div v-else>Loading...</div>

    </div>
</template>

<script>
import CatForm from './CatsForm.vue'

import { mapState, mapGetters, mapActions } from 'vuex'
import loglevel from 'loglevel'

let name = 'CatsCreateForm'
let log = loglevel.getLogger(name)

export default {
    name: name,
    components: {
        CatForm
    },
    computed: {
        ...mapState('CatsCreate', [
            'ready',
            'result',
            'message',
            'errors',
        ]),
        catId () {
            return this.$route.params.catId;
        }
    },
    methods: {
        submit () {
            let data = this.$refs.catForm.$data.form;
            rmClientApp.$store.dispatch('CatsCreate/submit', data)
        },
    },
    created () {
        log.debug('['+name+'.created]')
        rmClientApp.$store.dispatch('CatsCreate/created')
    },
    destroyed () {
        log.debug('['+name+'.destroyed]')
    },
}
</script>
