<template>
    <div>
        <h2>You confirm delete cat #{{ catId }}</h2>

        <!--
        Перенесено в Toasts
        <p v-if="result==='error'">Error.</p>
        <p v-else-if="result==='ok'">Cat successfully deleted</p>
        <p v-if="message">{{ message }}</p>
        -->

        <form @submit.prevent="submit()" v-if="ready">
            <CatForm :catId="catId" ref="catForm" :errors="errors" action="delete"></CatForm>
        </form>

        <div v-else>Loading...</div>

    </div>
</template>

<script>
import CatForm from './CatsForm.vue'

import { mapState, mapGetters, mapActions } from 'vuex'
import loglevel from 'loglevel'

let name = 'CatsEditForm'
let log = loglevel.getLogger(name)

export default {
    name: name,
    components: {
        CatForm
    },
    computed: {
        ...mapState('CatsDelete', [
            'ready',
            'result',
            'message',
            'errors',
        ]),
        catId () {
            return this.$route.params.catId;
        }
    },
    methods: {
        submit () {
            rmClientApp.$store.dispatch('CatsDelete/submit', this.catId)
        },
    },
    created () {
        log.debug('['+name+'.created]')
        rmClientApp.$store.dispatch('CatsDelete/created')
    },
    destroyed () {
        log.debug('['+name+'.destroyed]')
    },
}
</script>
