<template>
    <div>
        <h2>Cat #{{ catId }}</h2>

        <!--
        Перенесено в Toasts
        <p v-if="result==='error'">Error.</p>
        <p v-else-if="result==='ok'">Cat successfully updated</p>
        <p v-if="message">{{ message }}</p>
        -->

        <form @submit.prevent="submit()" v-if="ready">
            <CatForm :catId="catId" ref="catForm" :errors="errors" action="edit"></CatForm>
        </form>

        <div v-else>Loading...</div>

    </div>
</template>

<script>
import CatForm from './CatsForm.vue'

import { mapState, mapGetters, mapActions } from 'vuex'
import loglevel from 'loglevel'

let name = 'CatsEditForm'
let log = loglevel.getLogger(name)

export default {
    name: name,
    components: {
        CatForm
    },
    computed: {
        ...mapState('CatsUpdate', [
            'ready',
            'result',
            'message',
            'errors',
        ]),
        catId () {
            return this.$route.params.catId;
        }
    },
    methods: {
        submit () {
            let data = this.$refs.catForm.$data.form;
            rmClientApp.$store.dispatch(
                'CatsUpdate/submit',
                {
                    catId: this.catId,
                    data: data
                }
            )
        },
    },
    created () {
        log.debug('['+name+'.created]')
        rmClientApp.$store.dispatch('CatsUpdate/created')
    },
    destroyed () {
        log.debug('['+name+'.destroyed]')
    },
}
</script>
