<template>
    <div>
        <h2>Create new phone</h2>

        <!--
        Перенесено в Toasts
        <p v-if="result==='error'">Error.</p>
        <p v-else-if="result==='ok'">Phone successfully created</p>
        <p v-if="message">{{ message }}</p>
        -->

        <form @submit.prevent="submit()" v-if="ready">
            <PhoneForm :catId="catId" ref="phoneForm" :errors="errors" action="create"></PhoneForm>
        </form>

        <div v-else>Loading...</div>

    </div>
</template>

<script>
import PhoneForm from './PhonesForm.vue'

import { mapState, mapGetters, mapActions } from 'vuex'
import loglevel from 'loglevel'

let name = 'PhonesCreateForm'
let log = loglevel.getLogger(name)

export default {
    name: name,
    components: {
        PhoneForm
    },
    computed: {
        ...mapState('PhonesCreate', [
            'ready',
            'result',
            'message',
            'errors',
        ]),
        catId () {
            return this.$route.params.catId;
        }
    },
    methods: {
        submit () {
            let data = this.$refs.phoneForm.$data.form;
            rmClientApp.$store.dispatch('PhonesCreate/submit', data)
        },
    },
    created () {
        log.debug('['+name+'.created]')
        rmClientApp.$store.dispatch('PhonesCreate/created')
    },
    destroyed () {
        log.debug('['+name+'.destroyed]')
    },
}
</script>
