<template>
    <div>
        <h2>You confirm delete phone #{{ phoneId }}</h2>

        <!--
        Перенесено в Toasts
        <p v-if="result==='error'">Error.</p>
        <p v-else-if="result==='ok'">Phone successfully deleted</p>
        <p v-if="message">{{ message }}</p>
        -->

        <form @submit.prevent="submit()" v-if="ready">
            <PhoneForm :phoneId="phoneId" ref="phoneForm" :errors="errors" action="delete"></PhoneForm>
        </form>

        <div v-else>Loading...</div>

    </div>
</template>

<script>
import PhoneForm from './PhonesForm.vue'

import { mapState, mapGetters, mapActions } from 'vuex'
import loglevel from 'loglevel'

let name = 'PhonesEditForm'
let log = loglevel.getLogger(name)

export default {
    name: name,
    components: {
        PhoneForm
    },
    computed: {
        ...mapState('PhonesDelete', [
            'ready',
            'result',
            'message',
            'errors',
        ]),
        phoneId () {
            return this.$route.params.phoneId;
        }
    },
    methods: {
        submit () {
            rmClientApp.$store.dispatch('PhonesDelete/submit', this.phoneId)
        },
    },
    created () {
        log.debug('['+name+'.created]')
        rmClientApp.$store.dispatch('PhonesDelete/created')
    },
    destroyed () {
        log.debug('['+name+'.destroyed]')
    },
}
</script>
