<template>
    <div style="max-width:550px;">
        <div v-if="isLoading">
            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span> Loading...
        </div>
        <div v-else>

            <input type="hidden" name="cat_id" v-model="form.cat_id">

            <div class="mb-3">
                <label class="form-label">
                    Surname
                    <input class="form-control" type="text" v-model="form.surname" :readonly="readonly===true">
                </label>
                <div class="form-text text-danger" v-if="errors && errors.surname">
                    <div v-for="(v) in errors.surname"><small>{{ v }}</small><br></div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">
                    Firstname
                    <input class="form-control" type="text" v-model="form.name" :readonly="readonly===true">
                </label>
                <div class="form-text text-danger" v-if="errors && errors.name">
                    <div v-for="(v) in errors.name"><small>{{ v }}</small><br></div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">
                    Middlename
                    <input class="form-control" type="text" v-model="form.middlename" :readonly="readonly===true">
                </label>
                <div class="form-text text-danger" v-if="errors && errors.middlename">
                    <div v-for="(v) in errors.middlename"><small>{{ v }}</small><br></div>
                </div>
            </div>

            <hr>

            <div class="mb-3">
                <label class="form-label">
                    Position
                    <input class="form-control" type="text" v-model="form.position" :readonly="readonly===true">
                </label>
                <div class="form-text text-danger" v-if="errors && errors.position">
                    <div v-for="(v) in errors.position"><small>{{ v }}</small><br></div>
                </div>
            </div>

            <hr>

            <div class="mb-3">
                <label class="form-label">
                    Phone
                    <input class="form-control" type="text" v-model="form.phone" :readonly="readonly===true">
                </label>
                <div class="form-text text-danger" v-if="errors && errors.phone">
                    <div v-for="(v) in errors.phone"><small>{{ v }}</small><br></div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">
                    Email
                    <input class="form-control" type="text" v-model="form.email" :readonly="readonly===true">
                </label>
                <div class="form-text text-danger" v-if="errors && errors.email">
                    <div v-for="(v) in errors.email"><small>{{ v }}</small><br></div>
                </div>
            </div>

            <hr>

            <button v-if="action==='edit'" class="btn btn-danger">Delete</button>

            <button v-if="action==='create'" class="btn btn-primary float-end">Create</button>
            <button v-else-if="action==='edit'" class="btn btn-primary float-end">Save</button>
            <button v-else-if="action==='delete'" class="btn btn-danger float-end">Confirm, delete</button>

        </div>
    </div>
</template>

<script>
import loglevel from 'loglevel'

let name = 'PhoneForm'
let log = loglevel.getLogger(name)

export default {
    name: name,
    props: {
        action: {
            type: String,
            required: true
        },
        catId: {
            type: String,
            required: false
        },
        phoneId: {
            type: String,
            required: false
        },
        errors: {
            required: false
        },
        readonly: Boolean
    },
    data: function () {
        return {
            isLoading: true,
            form: {
                cat_id: '',
                name: '',
                surname: '',
                middlename: '',
                position: '',
                phone: '',
                email: '',
            },
            message: '',
            isError: false,
        }
    },
    computed: {
    },
    methods: {
        fetchData () {
            return this.form;
        },
        // Получение данных проекта
        getData () {
            let self = this;

            let phoneId = self.phoneId;
            if (!phoneId) {
                self.isLoading = false;
                return false;
            }

            self.isLoading = true;

            rmClientApp.$axios
                .get('api/phones/' + phoneId)
                .then(function (res) {
                    if (res?.data?.result && res?.data?.result === 'ok') {
                        let data = res?.data?.data;
                        self.isError = false;

                        self.form.cat_id = data.cat_id;
                        self.form.name = data.name;
                        self.form.surname = data.surname;
                        self.form.middlename = data.middlename;
                        self.form.position = data.position;
                        self.form.phone = data.phone;
                        self.form.email = data.email;

                        self.message = '';
                    } else {
                        self.setError(res?.data?.error || null)
                    }
                    self.isLoading = false;
                })
                .catch((error) => {
                    self.setError(error)
                    self.isLoading = false;
                })
        },
        setError (error) {
            this.isError = true;
            this.message = error || 'System error';

        },
    },
    watch: {
        phoneId () {
            this.getData();
        },
    },
    created () {
        this.getData();
    },
    mounted () {
        if (this.catId) {
            this.form.cat_id = this.catId;
        }
    }
}
</script>
