<template>
    <div>
        <CreatePhone v-if="route.name === 'CreatePhone'"></CreatePhone>
        <EditPhone v-else-if="route.name === 'EditPhone'"></EditPhone>
        <DeletePhone v-else-if="route.name === 'DeletePhone'"></DeletePhone>
    </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
    name: "PhonesApp",
    computed: {
        route () {
            return rmClientApp.$route
        },
        ...mapGetters({
            isAuthenticated: 'AppUser/isAuthenticated',
        }),
    },
    mounted() {
    }
}
</script>
